<a href="@Url.Action("HienThiGioHang", "GioHang")" style="text-decoration: none; color:
white; font-weight: bold">
    <img class="gio_hang_size" src="~/Asset/img/giohang-removebg-preview (2).png" /> Giỏ hàng (@ViewBag.TongSL)
</a>
