
@{ ViewBag.Title = "HoanThanhDonHang";
                Layout = "~/Views/Shared/_MasterLayout.cshtml"; }

<div style="text-align:center">
    <h2 style="color:blanchedalmond">
        ĐƠN HÀNG CỦA QUÝ KHÁCH ĐÃ ĐƯỢC GHI NHẬN. CHÚNG TÔI SẼ LIÊN HỆ TRONG THỜI GIAN SỚM
        NHẤT
    </h2>
    <p>
        @Html.ActionLink("Về trang chủ", "Index", "Home", null, new { @class = "btn btn - primary" })
    </p>
</div>

